@import "tailwindcss";

body{
  background-color: #FFF6E7;
}

@font-face {
  font-family: 'Cherola';
  src: url('../../public/fonts/Cherola-Regular.ttf');
}

.font-cherola {
  font-family: 'Cherola',sans-serif;
}

.bg-footer{
  background-image: url(./assets/planet.jpg);
}